body {
    background:rgb(147, 227, 247);
    font-family: Arial;
}
.assignments{
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width: 30%;
    padding:10px;
    margin:10px;
    margin-bottom: 30px;
    background:cornflowerblue;
    border-radius:5px;
    box-shadow: 5px 8px blue;
}
.assignment img{
    width:200px;
    border:2px solid blue;
    margin-right: 20px;
    border-radius: 5px;
    display:block;
    margin:auto;
}
h1{
    color: blue;
    text-align:center;

}

a{
    text-decoration: none;
    color: azure;
}
.assignment a:hover{
    color:blue;
}