body {
    background:rgb(147, 227, 247);
    font-family: Arial;
}

.assignment {
    display:flex;
    padding:10px;
    margin:10px;
    background:lightgray
}
.assignment img{
    width:200px;
    padding:10px;
}
h1{
    color: blue;
    text-align:center;

}